body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2C2C2C;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-start;
}

.navbar {
    display: inline-flex;
    align-items: center;

    background-color: white;
    padding: 0 1rem;

    border-radius: 100px;
    margin: 1.25rem;
    margin-bottom: 4rem;

    gap: 1.875rem;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.logo {
    width: 5.625rem;
    height: auto;
}

.tagline {
    padding: 0.3125rem 0.625rem;

    border: solid black 0.125rem;
    border-radius: 100px;
    color: black;

    font-weight: bold;
    font-size: 26;
}

.nav-links {
    display: flex;
    gap: 3rem;
    margin-left: 1.875rem;
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a:hover {
    background-color: #bfbfbf;
}

.welcome h1 {
    font-size: 10rem;
    font-style: italic;
    font-weight: bold;
    margin-left: 3rem;
    padding-top: 8rem;
    position: relative;
    color: white;
    top: 300px;
}
.navbar2 {
    display: inline-flex;
    align-items: center;
    
    background-color: #286F89;
    padding: 2rem 0.5rem;

    border-radius: 100px;
    margin-bottom: 4rem;
    margin-left: 2rem;
    margin-top:17rem;
    position: absolute;
    top: 800px;

    gap: 1.875rem;
}
.nav-link {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link a {
    text-decoration: none;
    color:  white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link a:hover {
    background-color: #bfbfbf;
}

.triangle {
	position: absolute;
	background-color: #23708A;
	text-align: left;

    z-index: -1;
    top: 50px;
    left: 100px;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  30em;
	height: 30em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-40deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


.triangle-grey {
	position: absolute;
	background-color: #2C2C2C;
	text-align: left;

    z-index: -1;
    top: 250px;
    left: 190px;
}
.triangle-grey:before,
.triangle-grey:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle-grey,
.triangle-grey:before,
.triangle-grey:after {
	width:  12em;
	height: 12em;
	border-top-right-radius: 30%;
}

.triangle-grey {
	transform: rotate(-100deg) skewX(-30deg) scale(1,.866);
}
.triangle-grey:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle-grey:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.rectangle-nav{
    position: absolute;
    z-index: -1;
    transform: rotate(110deg);
    left: 700px;
    top:-10px;

    width: 40rem;
    height: 20rem;
    background-color: #5BC0BE;

}

.rectangle-side{
    position: absolute;
    z-index: -1;
    transform: rotate(210deg);
    right:-250px;
    top:250px;

    width: 50rem;
    height: 15rem;
    box-sizing: border-box;
    background-color: #5BC0BE;
}

.bar-left{
    position: absolute;
    z-index: -1;
    transform: rotate(230deg);
    right:-200px;
    bottom:-10px;

    width: 55rem;
    height: 16rem;
    box-sizing: border-box;
    background-color: #3A506B;
    border-radius:200px;
}


.bar-right{
    position: absolute;
    z-index: -1;
    transform: rotate(140deg);
    right:-200px;
    bottom:-10px;

    width: 55rem;
    height: 16rem;
    box-sizing: border-box;
    background-color: #3A506B;
    border-radius:200px;
}

.rectangle-right{
    position: absolute;
    transform: rotate(90deg);
    right: -215px;
    bottom: -10px;


    width: 55rem;
    height: .5rem;
    box-sizing: border-box;
    background-color: white;
}

.rectangle-left{
    position: absolute;
    transform: rotate(185deg);
   right: -300px;
   bottom: 110px;


    width: 55rem;
    height: .5rem;
    box-sizing: border-box;
    background-color: white;
}