body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2C2C2C;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-start;
}

.navbar {
    display: inline-flex;
    align-items: center;

    background-color: white;
    padding: 0 1rem;

    border-radius: 100px;
    margin: 1.25rem;
    margin-bottom: 4rem;

    gap: 1.875rem;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.logo {
    width: 5.625rem;
    height: auto;
}

.tagline {
    padding: 0.3125rem 0.625rem;

    border: solid black 0.125rem;
    border-radius: 100px;
    color: black;

    font-weight: bold;
    font-size: 26;
}

.nav-links {
    display: flex;
    gap: 3rem;
    margin-left: 1.875rem;
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a:hover {
    background-color: #bfbfbf;
}

.welcome h1 {
    font-size: 5rem;
    font-style: italic;
    font-weight: bold;
    margin-left: 3rem;
    padding-top: 2rem;
    position: relative;
    color: white;
    top: 300px;
}
.navbar2 {
    display: inline-flex;
    align-items: center;
    
    background-color: #286F89;
    padding: 2rem 0.5rem;

    border-radius: 100px;
    margin: 1.25rem;
    margin-bottom: 4rem;
    position: absolute;
    top: 800px;

    gap: 1.875rem;
}
.nav-link {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link a {
    text-decoration: none;
    color:  white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link a:hover {
    background-color: #bfbfbf;
}